body{
    background-color: rgb(66, 66, 121);
}

.main{
    background-color: rgb(65, 65, 90);
    width: 350px;
    height: 450px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    box-shadow: 1px 1px 12px rgb(255, 255, 54);
    border: 1px solid yellow;
}
.timer{
    color: aqua;
    font-size: 4rem;
}
.btnc{
    background-color: rgb(90, 96, 197);
    padding: 3px 6px;
    font-size: 1.5rem;
    color: white;
    border-radius: 15px;
}